*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.blue-cloud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0.8;
}

.yellow-cloud {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  opacity: 0.8;
}

.red-cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -100;
  opacity: 0.8;
}

.darkblue-cloud {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -100;
  opacity: 0.8;
}

.container {
  width: 98%;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 9px;
}

.header-menu {
  position: absolute;
  top: 50px;
  z-index: 2;
  list-style: none;
  background-color: #D5F6FD;
  display: none;
}

.page-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  width: 230px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #404040;
}

.page-link span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 15px;
}

.page-link:hover {
  background: #bbecf6;
  color: #3099ae;
}

.menu-icon-1 {
  background: url(../img/menu-icon-1.png) 100% no-repeat;
}

.menu-icon-2 {
  background: url(../img/menu-icon-2.png) 100% no-repeat;
}

.menu-icon-3 {
  background: url(../img/menu-icon-3.png) 100% no-repeat;
}

.menu-icon-4 {
  background: url(../img/menu-icon-4.png) 100% no-repeat;
}

.menu-icon-5 {
  background: url(../img/menu-icon-5.png) 100% no-repeat;
}

.mobile-menu-icon {
  background-color: #ffffff;
  display: block;
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.mobile-menu-icon span {
  position: absolute;
  left: 16px;
  top: 18px;
  width: 24px;
  height: 2px;
  background-color: #7f7f7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu-icon:before,
.mobile-menu-icon:after {
  content: '';
  position: absolute;
  left: 16px;
  width: 24px;
  height: 2px;
  background-color: #7f7f7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu-icon:before {
  top: 8px;
}

.mobile-menu-icon:after {
  bottom: 8px;
}

.mobile-menu-icon.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
}

.mobile-menu-icon.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 18px;
}

.mobile-menu-icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.content-block {
  margin: -20px auto 0 auto;
  height: 90vh;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper {
  width: 100%;
  height: 84%;
}

.main-wrapper.video {
  position: relative;
  height: unset;
  width: 100%;
  padding-top: 56.25%;
}

.main-block {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.main-block.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: unset;
  background-color: #ffffff;
  -webkit-box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.stop-button {
  font-size: 15px;
  font-weight: 600;
  color: #7e7e7e;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #ebebeb;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin: 20px auto;
  cursor: pointer;
  outline: none;
}

.mic-logo {
  position: absolute;
  width: 200px;
  top: 10px;
  left: 10px;
}

.mic-block {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0 10px;
  text-align: center;
}

.mic-block p {
  font-size: 25px;
  color: #404040;
}

.mic-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  margin: 40px auto 0px auto;
  cursor: pointer;
  outline: none;
}
.class-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  margin: 40px auto 0px auto;
  cursor: pointer;
  outline: none;
}

.mic-block button:hover {
  background-color: #2596ac;
}

.mic-step-1 {
  display: none;
}

.mic-step-2 {
  display: none;
}

.mic-step-2 button {
  margin-top: 20px;
}

.mic-notification {
  margin-top: 10px;
}

.mic-step-3 {
  display: none;
}

.mic-step-3 button {
  margin-top: 10px;
}

#problem-button {
  color: #909090;
  background: none;
  border: none;
  margin-top: 10px;
  line-height: 1;
  height: unset;
}

#problem-button:hover {
  background: none;
  color: #606060;
}

.mic-step-4 {
  display: none;
}

.mic-step-4 button {
  margin-top: 10px;
}

.check-list {
  list-style: none;
  color: #404040;
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.4;
}

.check-list li {
  text-align: left;
}

.check-list li span {
  color: green;
}

.class-block {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.class-block p {
  font-size: 26px;
  font-weight: 600;
  color: #42B0C4;
}

.play-button {
  position: absolute;
  background: url(../img/video-play.svg) no-repeat center;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.8;
}

.play-button:hover {
  opacity: 1;
}

.task-block {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 20px 10px 0 10px;
  color: #404040;
  font-size: 18px;
}

.text-block {
  padding-left: 5px;
  width: 90%;
  height: 70%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.control-block {
  position: relative;
  width: 90%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  font-size: 25px;
  width: 45px;
  height: 45px;
  background-color: #ebebeb;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
}

.text-button:hover {
  background-color: #dedede;
}

#minus-button::before {
  content: '';
  position: absolute;
  background-color: #404040;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#plus-button::before {
  content: '';
  position: absolute;
  background-color: #404040;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#plus-button::after {
  content: '';
  position: absolute;
  background-color: #404040;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -6px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#down-arrow {
  position: absolute;
  width: 80px;
  height: 50%;
  background: url(../img/down-arrow.svg) 100% no-repeat;
  background-position: center center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}

.remember-block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0 10px;
  text-align: center;
}

.remember-block .p-header {
  font-size: 25px;
  color: #404040;
}

.remember-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
}

.remember-block button:hover {
  background-color: #2596ac;
}

.word-block {
  height: 45%;
  max-width: 100%;
}

.word-block img {
  padding-top: 10px;
  height: 80%;
}

.word {
  font-size: 20px;
  font-weight: 600;
  color: #404040;
}

#not-remember {
  background: #FF8787;
}

.intro-result-block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0 10px;
  text-align: center;
}

.intro-result-block .p-header {
  font-size: 25px;
  color: #404040;
  padding: 0 0 10px 0;
}

.intro-result-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  outline: none;
}

.intro-result-block button:hover {
  background-color: #2596ac;
}

.intro-result-block a {
  color: #2475dd;
  cursor: pointer;
  font-size: 18px;
}

.intro-result-block a:hover {
  color: #1c5eb2;
}

.intro-result-block .progress {
  color: #13ac1a;
  font-size: 35px;
}

.intro-headers-block {
  text-align: center;
}

.intro-result-subblock {
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro-result-subblock .before, .intro-result-subblock .after {
  color: #404040;
  font-size: 22px;
}

.payment-block {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0 10px;
  text-align: center;
}

.payment-block .p-header {
  font-size: 22px;
  color: #404040;
  padding: 0 0 10px 0;
}

.payment-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 5px auto 0 auto;
}

.payment-block button:hover {
  background-color: #2596ac;
}

.back {
  color: #666666;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  cursor: pointer;
}

.payment-subblock p {
  text-align: center;
  color: #404040;
  font-size: 20px;
}

.payment-subblock .check-list {
  max-width: 500px;
  text-align: center;
}

.payment-subblock .check-list li {
  margin-bottom: 5px;
}

.ways-to-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ways-to-pay img {
  width: 75px;
}

.current-result-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0 10px;
  text-align: center;
}

.current-result-block .p-header {
  font-size: 25px;
  color: #404040;
  padding: 0 0 10px 0;
}

.current-result-block button {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  width: 240px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2AA8C1;
  border: none;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  cursor: pointer;
  outline: none;
}

.current-result-block button:hover {
  background-color: #2596ac;
}

.current-result-block .progress {
  color: #13ac1a;
  font-size: 25px;
  margin-top: 7px;
}

.current-headers-block {
  text-align: center;
}

.current-result-subblock {
  color: #404040;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.current-result-subblock .result {
  color: #404040;
  font-size: 20px;
  padding: 5px 0;
}

.current-result-subblock .p-subheader {
  font-size: 22px;
  color: #404040;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 1024px) {
  .blue-cloud, .yellow-cloud, .red-cloud, .darkblue-cloud {
    height: 300px;
  }
  .content-block {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .mic-block {
    padding: 30px 10px 0 10px;
  }
  .mic-step-4 {
    padding: 45px 10px 0 10px;
  }
  .word-block {
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  .word {
    font-size: 16px;
  }
  .word-block {
    height: 45%;
  }
  .remember-block button {
    width: 200px;
    height: 35px;
    line-height: 35px;
  }
  .remember-block .p-header {
    font-size: 20px;
  }
  .intro-result-block button {
    width: 200px;
    height: 35px;
    line-height: 35px;
  }
  .intro-result-block .p-header {
    font-size: 25px;
  }
  .intro-result-block .before, .intro-result-block .after {
    font-size: 20px;
  }
  .payment-block button {
    width: 200px;
    height: 35px;
    line-height: 35px;
  }
  .payment-block .p-header, .payment-block .payment-subblock p {
    font-size: 18px;
  }
  .current-result-block button {
    width: 200px;
    height: 35px;
    line-height: 35px;
  }
  .current-result-block .p-header {
    font-size: 20px;
  }
  .current-result-block .p-subheader {
    font-size: 18px;
  }
  .current-result-block .result {
    font-size: 18px;
  }
  .current-result-block .progress {
    font-size: 22px;
  }
  .blue-cloud, .yellow-cloud, .red-cloud, .darkblue-cloud {
    height: 200px;
  }
  .mic-block p {
    font-size: 16px;
    font-weight: 600;
  }
  .mic-logo {
    width: 170px;
  }
  .task-block {
    padding: 20px 10px 0 10px;
  }
  .text-button {
    width: 35px;
    height: 35px;
  }
  .control-block {
    padding: 10px 0;
  }
}

@media screen and (max-width: 630px) {
  .mic-block {
    padding: 60px 10px 0 10px;
  }
  .mic-step-4 {
    padding: 0;
  }
}

@media screen and (max-width: 567px) {
  .blue-cloud, .yellow-cloud, .red-cloud, .darkblue-cloud {
    height: 150px;
  }
  .logo {
    width: 120px;
  }
  .task-logo {
    display: none;
  }
  .mic-notification {
    width: 250px;
  }
  .task-block {
    padding: 20px 10px 0 10px;
    font-size: 16px;
  }
  .content-block {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .control-block {
    padding: 10px 0;
  }
  .mic-block {
    padding: 0px 10px 0 10px;
  }
  .mic-block button {
    margin: 20px auto 0px auto;
  }
  .mic-step-3 button {
    margin-top: 10px;
  }
  .mic-step-4 button {
    margin-top: 10px;
  }
  .check-list {
    font-size: 18px;
    line-height: 1;
  }
  .check-list li {
    text-align: left;
  }
  .check-list li span {
    color: green;
  }
  .play-button {
    width: 70px;
    height: 70px;
  }
  .word-block {
    height: 50%;
  }
}

@media screen and (width: 1152px) {
  .content-block {
    width: 82%;
  }
}

@media screen and (width: 1024px) {
  .content-block {
    width: 85%;
  }
}

@media screen and (width: 1024px) and (max-height: 600px) {
  .content-block {
    width: 65%;
  }
}

@media screen and (width: 1366px) {
  .content-block {
    width: 65%;
  }
}

@media screen and (width: 1360px) {
  .content-block {
    width: 65%;
  }
}

@media screen and (width: 1440px) {
  .content-block {
    width: 80%;
  }
}

@media screen and (width: 1280px) and (max-height: 650px) {
  .content-block {
    width: 65%;
  }
}

@media screen and (width: 1280px) and (min-height: 700px) {
  .content-block {
    width: 75%;
  }
}

@media screen and (width: 1280px) and (min-height: 767px) {
  .content-block {
    width: 90%;
  }
}
/*# sourceMappingURL=home.css.map */
